html {
	font-family: $font;
	font-size: 10/1460*100vh;
	font-weight: 400;
	color: $color-white;
	background-color: $color-gray-5;


	@include landscape {
		font-size: 10/1080*100vh;
	}
}

span, strong, a, b {
	display: inline-block;
}

body {
	position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

img {
  box-sizing: content-box;
}

.overflow {
	overflow: hidden;
}

.hover {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		height: 0;
		width: 100%;
		background-color: $color-accent;
		mix-blend-mode: difference;
		transition: height 0.1s;
	}

	&:hover::before {
		height: 100%;
	}
}

.link {
	color: $color-accent;
	text-decoration: none;
	font-weight: 700;
	overflow: visible;

	@extend .hover;
}

:focus-visible {
  outline: $color-white solid 4px;

  & > img {
    outline: $color-white solid 4px;
  }
}

.safari :focus {
  outline: none;
  box-shadow: 0 0 0 4px solid #fff;

  & > img {
    box-shadow: 0 0 0 4px solid #fff;
  }
}
