html {
	height: 100vh;
	background: linear-gradient(315deg, #2b2b2b, #292929, #282828, #262626, #252525, #232323, #222222, #202020), url('~@/assets/svg/noise.svg');
	background-attachment: fixed;
    background-blend-mode: screen;
}